.portfolio-item{
    position: relative;
    float: left;
    overflow: hidden;
    text-align: center;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(119,119,119,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(119,119,119,0.5);
    box-shadow: 0px 0px 5px 0px rgba(119,119,119,0.5);
    transition: all .7s;
    filter: grayscale(60%);


}
 .portfolio-item:hover {
     filter: grayscale(0%);
     -webkit-box-shadow: 0px 0px 10px 0px rgba(170,75,60, 0.5);
     -moz-box-shadow: 0px 0px 10px 0px rgba(170,75,60, 0.5);
     box-shadow: 0px 0px 10px 0px rgba(170,75,60, 0.5);
 }

.portfolio-item img {
    max-height: 180px;
}

.portfolio-item .desc {
    background: rgba(32,32,32,.60);
    padding:10px 0;
    color: #ffffff;
    position: absolute;
    overflow: hidden;
    bottom:8px;
    width:100%;
}