/** START -- ABOUT PAGE **/
#about img {
    width:200px;
    float:left;
    margin: 0 25px 0 0;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 0px solid #000000;
}

#about p{
    margin:0 0 15px 0;
    line-height: 24px;
}
/** END -- ABOUT PAGE **/