/** START -- CONTACT PAGE **/
#contact .form-control {
    margin-bottom: 10px;
}

input, textarea, label {
    width: 905px;
    display: block;
}
label {
    margin-bottom:4px;
    font-size:14px;
}

input, textarea {
    border: 1px solid #c3c3c3;
    padding: 5px;
}

button {
    font-size: 14px;
    color: #ffffff;
    background-color: #4aaaa5;
    padding:7px 20px;
    border: none;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #205E5B;
    cursor: pointer;
}
/** END-- CONTACT PAGE **/