header {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    padding: 0;
}

nav.navbar {padding: 0 ;}

.navbar-light {
    padding: 0;
    font-family: Oswald, sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

nav.navbar-light .navbar-nav {
    height: 100%;
}

.navbar-light .navbar-brand {
    background-color: #aa4b3c;
    padding: 10px 20px;
    color: #ffffff;
}

.navbar-light .nav-item .nav-link,
.navbar-light .navbar-toggler {
    color: #777777 ;!important
}

.navbar-light .nav-item .nav-link{
    border-right: 1px solid #cccccc;
}
.navbar-light .nav-item:last-child .nav-link{
    border-right: 0;
}

.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:focus .nav-link,
.navbar-light .nav-item:hover .nav-link {
    color: #aa4b3c; !important
}

.navbar-light .navbar-collapse .nav-item .nav-link{
    border:0;
}
