@import "header.css";

@import "footer.css";

body{
    font-family: Roboto, sans-serif;
    background: url("../images/dust_scratches.png") repeat;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: #aa4b3c;
}
.h1{
    font-size:32px;
}



#content {
    padding:25px 0 75px 0;
}

.box {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 1px solid #cccccc;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(119,119,119,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(119,119,119,0.5);
    box-shadow: 0px 0px 5px 0px rgba(119,119,119,0.5);

}








